body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/*Title*/

.container {
  min-height: 100vh;
  background-color: #f7f7f7;
  text-align: center;
}

.container h1 {
  color: #383838;
  font-weight: 700;
  font-size: 40px;
  margin: 0;
}

.container legend {
  font-style: italic;
  margin: 0;
}

/*Form*/

form {
  margin-top: 4vh;
}

input[type="text"] {
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 15px 40px 15px 20px;
  width: 150px;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition : all 0.3s ease;
  -moz-transition : all 0.3s ease;
  -o-transition : all 0.3s ease;
  -webkit-transition : all 0.3s ease;
}

input[type="text"]:focus {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

input:focus, button:focus {
  outline:none;
}

.fa-plus {
  position: relative;
  right : 30px;
  color : #949393;
  transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
}

.fa-plus:hover {
  cursor: pointer;
  color : #3498db;
}

.error {
  color: #e74c3c;
}


/*Button choose*/

.choose {
  margin-top : 2vh;
  padding: 15px 25px;
  border : none;
  background-color : #3498db;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5px;
}


/*List*/

ul {
  padding-left: 0;
}

li {
  list-style: none;
}
